<div class="p-3 mb-2 bg-light border border-2 rounded">
  <%= params[:question] %>
  <p>-You</p>
</div>
<div class="p-3 mb-2 bg-warning border border-2 rounded">
  <%= @answer %>
  <p>-Your coach</p>
</div>

<%= link_to "Ask a new question", ask_path, {:class=>"text-decoration-none"} %>
